/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-vs.unityproj
/FirstDraft.sln
/FirstDraft.userprefs
/FirstDraft-csharp.sln
/Library
/Temp
/.DS_Store
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-vs.csproj
/Assembly-UnityScript.unityproj
